body,html{
  height:100%;
}
#availability{
  height:80%;
}
#availability > button{ 
  width:60%;
  height:30%;
  border-radius:15px;
  margin:2% 20%;
  font-size:100%;
}
#statistics>*{
  margin:5px;
}
#userid{
  border-color: #888888;
  border-style: ridge;
  top:0;
  font-weight: bolder;
  color: #ddf77c;
}
#scrview{
  height: 75%;
  overflow: scroll;
  background-color: #23bf23;
  padding:1%;
}
#bitpc{
 /* background: url("http://www.sig-p3x1.sedesol.gob.mx/sedesol_3x1/imagenes/icon/checkmark_256.png") right center no-repeat;
  background-size:contain;*/
  background-color:red;
}
#bitdroid{
  /*background: url("http://www.sig-p3x1.sedesol.gob.mx/sedesol_3x1/imagenes/icon/error_32.png") right center no-repeat;
  background-size:100%;*/
  background-color: green;
}
.top3{
    width:30%;
    height:80%;
    float:left;
    box-shadow:0 0 10px 4px #FF6347; 
    margin:0.95%;
    border:solid rgb(2, 73, 2);
    border-radius:0 20px 0 20px;
    border-width:0.2%;
    display:inline-block;   
    overflow:hidden;
}
/*
#middle>*{
  
  top:10%;
  width: 96%;
  margin: 1% 1%;
  height: 8%;
  padding:1%;
  
}*/
#sendb{
  border-radius:30px;
  padding:0%;
  width:60px;
  height:60px;
  margin:1% 0;
  box-shadow:0 0 2px 5px rgb(250, 246, 21);
  outline: none;
}
#cominput{
  top:10%;
  width: calc(96% - 66px);
  margin: 1% 1%;
  height: 8%;
  padding:1%;
  
  float:left;
  font-size:125%;
  resize:none;
  word-wrap:normal;
  overflow-x: auto;
  border-style: outset;
  box-shadow:0 0 2px 5px greenyellow;
  border-radius: 17px;
  outline:none;
}
#history{

  top:10%;
  width: 96%;
  margin: 1% 1%;
  height: 8%;
  padding:1%;

    overflow:auto;
    height: 75%;
    background-color: rgb(214, 216, 213);
    border-radius: 25px;
}
#top,#bottom,#middle{
  box-shadow:10px 10px 5px #888888;
  border-radius:15px;
  height:31%;
  margin:0.75% 0.75% 0.75% 0.75%;
  border:solid slategrey;
  clear:both;
  overflow: hidden;
}
#top{
  overflow:auto;
}
#bottom{
   height:8%;
   font-size: 100%;
   padding: 1%;
   color:white;
}

#middle{
  height:55%;
  overflow-y:auto;
}
#thist{
  width:100%;
  padding:1%;
}
.tcomm,.tdata{
  border-bottom: 2px solid #F10824
}

.tcomm{
  overflow:auto;
}